<div class="container">
    <mat-dialog-content class="mat-typography">   
        <div class="titulo">
            <mat-card-title >Bolos KitKat</mat-card-title> 
        </div>
        <div class="imagens">     
                <img class="mat-elevation-z15" src="../../../assets/img/bolos/kitkat/boloKitKat.jpeg" >                                    
        </div> 
        <div class="imagens">     
            <img class="mat-elevation-z15" src="../../../assets/img/bolos/kitkat/boloKitKat2.jpeg" >                                    
        </div>
        <div class="imagens">     
            <img class="mat-elevation-z15" src="../../../assets/img/bolos/kitkat/boloKitKat3.jpeg" >                                    
        </div> 

        <div class="titulo">
            <mat-card-title >Bolos Especiais</mat-card-title> 
        </div>
        <div class="imagens">     
            <img class="mat-elevation-z15" src="../../../assets/img/bolos/especiais/boloEspecial1.jpeg" >                                    
        </div> 
        <div class="imagens">     
            <img class="mat-elevation-z15" src="../../../assets/img/bolos/especiais/boloEspecial2.jpeg" >                                    
        </div>
        <div class="imagens">     
            <img class="mat-elevation-z15" src="../../../assets/img/bolos/especiais/boloEspecial3.jpeg" >                                    
        </div>

        <div class="titulo">
            <mat-card-title >Bento Cake</mat-card-title> 
        </div>
        <div class="imagens">     
            <img class="mat-elevation-z15" src="../../../assets/img/bolos/bentoCake/bentoCake1.jpeg" >                                    
        </div> 
        <div class="imagens">     
            <img class="mat-elevation-z15" src="../../../assets/img/bolos/bentoCake/bentoCake2.jpeg" >                                    
        </div>

        <div class="titulo">
            <mat-card-title >Bolos cobertura de fruta</mat-card-title> 
        </div>
        <div class="imagens">     
                <img class="mat-elevation-z15" src="../../../assets/img/bolos/coberturaFruta/coberturaFruta1.jpeg" >                                    
        </div> 
        <div class="imagens">     
            <img class="mat-elevation-z15" src="../../../assets/img/bolos/coberturaFruta/coberturaFruta2.jpeg" >                                    
        </div>
        <div class="imagens">     
            <img class="mat-elevation-z15" src="../../../assets/img/bolos/coberturaFruta/coberturaFruta3.jpeg" >                                    
        </div>

        <div class="titulo">
            <mat-card-title >Bolo de nozes</mat-card-title> 
        </div>
        <div class="imagens">     
            <img class="mat-elevation-z15" src="../../../assets/img/bolos/coberturaFruta/coberturaFrutaNozes.jpeg" >                                    
        </div>
        

        <div class="titulo">
            <mat-card-title >Bolos com brilho e topper</mat-card-title> 
        </div>
        <div class="imagens">     
                <img class="mat-elevation-z15" src="../../../assets/img/bolos/topper/topper1.jpeg" >                                    
        </div> 
        <div class="imagens">     
            <img class="mat-elevation-z15" src="../../../assets/img/bolos/topper/topper2.jpeg" >                                    
        </div>
        <div class="imagens">     
            <img class="mat-elevation-z15" src="../../../assets/img/bolos/topper/topper3.jpeg" >                                    
        </div>
        <div class="imagens">     
            <img class="mat-elevation-z15" src="../../../assets/img/bolos/topper/harryPotterTopper4.jpeg" >                                    
        </div>

        <div class="titulo">
            <mat-card-title >Bolos personalizados com papel foto</mat-card-title> 
        </div>
        <div class="imagens">     
                <img class="mat-elevation-z15" src="../../../assets/img/bolos/papelFoto/boloPapelFoto.jpeg" >                                    
        </div> 
        <div class="imagens">     
            <img class="mat-elevation-z15" src="../../../assets/img/bolos/papelFoto/boloPapelFoto2.jpeg" >                                    
        </div>

        <div class="titulo">
            <mat-card-title >Bolos para presente</mat-card-title> 
        </div>
        <div class="imagens">     
                <img class="mat-elevation-z15" src="../../../assets/img/bolos/presente/boloPresente.jpeg" >                                    
        </div> 
        <div class="imagens">     
            <img class="mat-elevation-z15" src="../../../assets/img/bolos/presente/boloPresente2.jpeg" >                                    
        </div>
        <div class="imagens">     
            <img class="mat-elevation-z15" src="../../../assets/img/bolos/presente/boloPresente3.jpeg" >                                    
        </div>
<div class="titulo">
            <mat-card-title >Bolos Salgados</mat-card-title> 
        </div>
        <div class="imagens">     
                <img class="mat-elevation-z15" src="../../../assets/img/bolos/salgado/boloSalgado.jpeg" >                                    
        </div> 
        <div class="imagens">     
            <img class="mat-elevation-z15" src="../../../assets/img/bolos/salgado/boloSalgado2.jpeg" >                                    
        </div>



    </mat-dialog-content>
    <mat-dialog-actions align="center">
        <button color="primary" mat-raised-button mat-dialog-close>Voltar</button>     
      </mat-dialog-actions>
</div>
