@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto+Condensed&family=Sarala&display=swap');

.card {
    margin: 20px;
    width: 85%;
  }

.cardpreco {
    display: flex;
    flex-direction: column;
    align-items: center;
}  

.itens {
    display: flex;
    justify-content: stretch;
    flex-direction: row;
    align-items: center; 
}

@media only screen and (max-width: 3000px) {
    .nomeitem {
        font-family: 'Righteous', cursive;
        margin-right: 10px;
        font-size: 15px;
    }

    .preco {
        font-family: 'Righteous', cursive;
        font-size: 15px;
        white-space: nowrap;
        border-bottom: 0.4px solid black;
    }
    p {
        border-bottom: 0.4px solid black;
    }
}

@media only screen and (max-width: 405px) {
    .preco {
        font-family: 'Righteous', cursive;
        font-size: 12px;
        white-space: nowrap;
        border-bottom: 0.4px solid black;
    }
    p {
        border-bottom: 0.4px solid black;
    }

    .nomeitem {
        font-family: 'Righteous', cursive;
        margin-right: 10px;
        font-size: 13px;
    }
}

@media only screen and (max-width: 346px) {
    .nomeitem {
        font-family: 'Righteous', cursive;
        margin-right: 10px;
        font-size: 10px;
    }
    .preco {
        font-family: 'Righteous', cursive;
        font-size: 10px;
        white-space: nowrap;
        border-bottom: 0.4px solid black;
    }
    p {
        border-bottom: 0.4px solid black;
    }
}

@media only screen and (max-width: 275px) {
    .nomeitem {
        font-family: 'Righteous', cursive;
        margin-right: 10px;
        font-size: 7px;
    }
    .preco {
        font-family: 'Righteous', cursive;
        font-size: 7px;
        white-space: nowrap;
        border-bottom: 0.4px solid black;
    }
    p {
        border-bottom: 0.4px solid black;
    }
}

.textoAtencao {
    color: violet;
}

mat-card-subtitle {
    color: red;
}

.botaoModalFotos {
    width: 100%;
    margin-bottom: 40px;
}