<mat-card class="card">
    <mat-card-title>Lista de preços dos bolos</mat-card-title> 
    <div class="cardpreco">
        <mat-card class="card mat-elevation-z8">
            <mat-card-title>MASSA DE CHOCOLATE</mat-card-title>
            <mat-card-subtitle>Pedidos de bolo a partir de 2 kg </mat-card-subtitle>
            <mat-card-subtitle>Preços abaixo por Kg </mat-card-subtitle>
            <mat-card-subtitle class="textoAtencao">BOLO COM COBERTURAS ESPECIAIS DE MOUSSE DE CHOCOLATE OU CHANTININHO OU MARCHMELOW, ACRESCENTAR  5.00 NO KILO DO BOLO </mat-card-subtitle>
            <mat-card-subtitle class="textoAtencao">BOLO COM COBERTURA DE RASPAS DE CHOCOLATE, ACRESCENTAR 5.00 NO KILO DO BOLO </mat-card-subtitle>
            <mat-card-subtitle class="textoAtencao">BOLO DE KITKAT - O preço do kilo do bolo a sua escolha + preço do kit kat + o preço da escolha da cobertura que você escolher.....Brigadeiros.....MM'S....morangos.....ou qualquer outra decoração..... </mat-card-subtitle>
            
            <button class="botaoModalFotos" (click)="openModalBoloKitKat()" color="primary" mat-raised-button>Ver Fotos dos bolos</button>

            <div class="itens">
                <mat-card-content class="nomeitem">
                    <p>Mousse de chocolate </p>
                    <p>Mousse cho + ped chocolate</p> 
                    <p>Sensação</p>
                    <p>Mousse de maracujá </p>
                    <p>Mousse de mar + ped chocolate</p>
                    <p>Prestígio</p>
                    <p>Brigadeiro </p>
                    <p>Leite ninho</p>
                    <p>Leite ninho + ped de chocolate</p>
                    <p>Leite ninho + ped de morangos</p>
                    <p>Creme belga com morangos</p>
                    <p>Floresta negra</p>
                    <p>Floresta branca</p>
                    <p>Trufa</p>
                    <p>Baba de moça com morangos</p>
                    <p>Bolo red velvet</p>                  
                </mat-card-content>
                <mat-card-content>                        
                    <p class="preco">R$ 50,00</p>     
                    <p class="preco">R$ 55,00</p>
                    <p class="preco">R$ 55,00</p>
                    <p class="preco">R$ 50,00</p>
                    <p class="preco">R$ 55,00</p>
                    <p class="preco">R$ 55,00</p>
                    <p class="preco">R$ 55,00</p>
                    <p class="preco">R$ 50,00</p>
                    <p class="preco">R$ 55,00</p>
                    <p class="preco">R$ 55,00</p>
                    <p class="preco">R$ 65,00</p>
                    <p class="preco">R$ 65,00</p>
                    <p class="preco">R$ 65,00</p>
                    <p class="preco">R$ 65,00</p>
                    <p class="preco">R$ 65,00</p>
                    <p class="preco">R$ 70,00</p>                         
                </mat-card-content>
            </div>
          </mat-card>

          <mat-card class="card mat-elevation-z8">
            <mat-card-title>BOLO DE FRUTAS e MASSA BRANCA</mat-card-title>
            <mat-card-subtitle>Pedidos de bolo a partir de 2 kg </mat-card-subtitle>
            <mat-card-subtitle>Preços abaixo por Kg </mat-card-subtitle>
            <div class="itens">
                <mat-card-content class="nomeitem">
                    <p>Coco</p>
                    <p>Pêssego</p> 
                    <p>Abacaxi</p>
                    <p>Morango</p>
                    <p>Doce de leite</p>
                    <p>Mousse de doce leite</p>
                    <p>Mousse de maracujá</p>
                    <p>Baba de moça</p>
                    <p>Baba de moça + morangos</p>
                    <p>Mousse maracujá + ped choc</p>
                    <p>Leite ninho</p>
                    <p>Leite ninho + ped de chocolate</p>
                    <p>Leite ninho + ped de morangos</p>
                    <p>doce leite + ameixas</p>
                    <p>Abacaxi + coco</p>
                    <p>Mousse doce leite + ped abacaxi</p>
                    <p>Doce leite + coco</p>
                    <p>Mousse doce leite + coco</p>
                    <p>Bolo de churros</p> 
                    <p>Bolo Red Velvet</p>                 
                </mat-card-content>
                <mat-card-content>                        
                    <p class="preco">R$ 50,00</p>     
                    <p class="preco">R$ 50,00</p>
                    <p class="preco">R$ 50,00</p>
                    <p class="preco">R$ 55,00</p>
                    <p class="preco">R$ 55,00</p>
                    <p class="preco">R$ 50,00</p>
                    <p class="preco">R$ 50,00</p>
                    <p class="preco">R$ 55,00</p>
                    <p class="preco">R$ 60,00</p>
                    <p class="preco">R$ 55,00</p>
                    <p class="preco">R$ 50,00</p>
                    <p class="preco">R$ 55,00</p>
                    <p class="preco">R$ 55,00</p>
                    <p class="preco">R$ 65,00</p>
                    <p class="preco">R$ 55,00</p>  
                    <p class="preco">R$ 55,00</p>
                    <p class="preco">R$ 60,00</p>  
                    <p class="preco">R$ 55,00</p>  
                    <p class="preco">R$ 60,00</p> 
                    <p class="preco">R$ 70,00</p>                  
                </mat-card-content>
            </div>
          </mat-card>
          
          <mat-card class="card mat-elevation-z8">
            <mat-card-title>BOLO SALGADO</mat-card-title>
            <mat-card-subtitle>Pedidos de bolo a partir de 2 kg </mat-card-subtitle>
            <mat-card-subtitle>Preços abaixo por Kg </mat-card-subtitle>
            <div class="itens">
                <mat-card-content class="nomeitem">
                    <p>Frango + catupiry</p>            
                </mat-card-content>
                <mat-card-content>                        
                    <p class="preco">R$ 50,00</p>                      
                </mat-card-content>
            </div>
          </mat-card>
    </div>
           
  </mat-card>