
    <mat-card class="card">
        <mat-card-title>Lista de preços dos doces</mat-card-title> 
        <div class="cardpreco" (click)="openDialog()">
            <router-outlet></router-outlet>
            <mat-card class="card mat-elevation-z8">                
                <mat-card-title>DOCINHOS DE BOLINHAS SIMPLES</mat-card-title>
                <mat-card-subtitle>100 unidades</mat-card-subtitle>
                <div class="itens">
                    <mat-card-content class="nomeitem">
                        <p>Brigadeiros</p>
                        <p>Beijinhos</p>
                        <p>Bicho de Pé</p>
                        <p>Cajuzinhos</p>                 
                    </mat-card-content>
                    <mat-card-content>                        
                        <p class="preco">R$ 70,00</p>                 
                    </mat-card-content>
                </div>
              </mat-card> 
              <mat-card class="card card mat-elevation-z8">
                <mat-card-title>DOCINHOS DE BOLINHAS LUXO</mat-card-title>
                <mat-card-subtitle>100 unidades</mat-card-subtitle>
                <div class="itens">
                    <mat-card-content class="nomeitem">
                        <p>Brigadeiros</p>
                        <p>Beijinhos</p>
                        <p>Bicho de Pé</p>
                        <p>Cajuzinhos</p> 
                        <p>Olho de Sogra</p>                
                    </mat-card-content>
                    <mat-card-content>                        
                        <p class="preco">R$ 80,00</p>                 
                    </mat-card-content>
                </div>
              </mat-card>
              <mat-card class="card card mat-elevation-z8">
                <mat-card-title>DOCINHOS DE COPINHO</mat-card-title>
                <mat-card-subtitle>50 unidades</mat-card-subtitle>
                <div class="itens">
                    <mat-card-content class="nomeitem">
                        <p>Simples</p>
                        <p>Personalizados</p>
                                       
                    </mat-card-content>
                    <mat-card-content>                        
                        <p class="preco">R$ 100,00</p>    
                        <p class="preco">R$ 120,00</p>              
                    </mat-card-content>
                </div>
              </mat-card>
              <mat-card class="card card mat-elevation-z8">
                <mat-card-title>BRIGADEIRO DE COLHER</mat-card-title>
                <mat-card-subtitle>50 unidades</mat-card-subtitle>
                <div class="itens">
                    <mat-card-content class="nomeitem">
                        <p>Brigadeiro de colher</p>                
                    </mat-card-content>
                    <mat-card-content>                        
                        <p class="preco">R$ 120,00</p>                 
                    </mat-card-content>
                </div>
              </mat-card>
              <mat-card class="card card mat-elevation-z8">
                <mat-card-title>CUPCAKES</mat-card-title>
                <mat-card-subtitle>50 unidades - Brigadeiro , Beijinho e Doce de leite </mat-card-subtitle>
                <div class="itens">
                    <mat-card-content class="nomeitem">
                        <p>Simples </p>
                        <p>Personalizados</p>
                        <p>Com pasta americana</p>                                        
                    </mat-card-content>
                    <mat-card-content>                        
                        <p class="preco">R$ 100,00</p>   
                        <p class="preco">R$ 140,00</p>
                        <p class="preco">R$ 3,50 uni</p>              
                    </mat-card-content>
                </div>
              </mat-card>
              <mat-card class="card card mat-elevation-z8">
                <mat-card-title>Doces Diversos</mat-card-title>
                <mat-card-subtitle>Quantidade minima - 25 unidades</mat-card-subtitle>
                <div class="itens">
                    <mat-card-content class="nomeitem">
                        <p>Doces finos </p>
                        <p>Mini bolo</p>
                        <p>Bombons de licor</p>                                        
                    </mat-card-content>
                    <mat-card-content>                        
                        <p class="preco">R$ 2,50 uni</p>   
                        <p class="preco">R$ 3,50 uni</p>
                        <p class="preco">R$ 1,50 uni</p>              
                    </mat-card-content>
                </div>
              </mat-card>
              <mat-card class="card card mat-elevation-z8">
                <mat-card-title>Tortas</mat-card-title>
                <mat-card-subtitle>Unidade</mat-card-subtitle>
                <div class="itens">
                    <mat-card-content class="nomeitem">
                        <p>Torta de limão </p>
                        <p>Torta de morango</p>
                        <p>Torta holandesa</p>                                        
                    </mat-card-content>
                    <mat-card-content>                        
                        <p class="preco">R$ 70,00</p>   
                        <p class="preco">R$ 80,00</p>
                        <p class="preco">R$ 90,00</p>              
                    </mat-card-content>
                </div>
              </mat-card>
              <mat-card class="card card mat-elevation-z8">
                <mat-card-title>Beijinho com frutas</mat-card-title>
                <mat-card-subtitle>Com 36 unidades</mat-card-subtitle>
                <div class="itens">
                    <mat-card-content class="nomeitem">
                        <p>Uva</p>                                        
                    </mat-card-content>
                    <mat-card-content>                        
                        <p class="preco">R$ 72,00</p>               
                    </mat-card-content>
                </div>
              </mat-card>

        </div>
               
      </mat-card>

