<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tânia Gama</title>   
  </head>

  <body>     
    <header>
        <mat-sidenav-container class="sidenav-container">
            <mat-sidenav #drawer class="sidenav" fixedInViewport
                [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
                [mode]="(isHandset$ | async) ? 'over' : 'side'"
                [opened]="(isHandset$ | async) === false">
              <mat-toolbar>Menu</mat-toolbar>
              <mat-nav-list>
                <a class="link" mat-list-item routerLink="tabelaPreco">Tabela de Preços</a> 
                <a class="link" mat-list-item routerLink="redesSociais">Redes sociais</a>
              </mat-nav-list>
            </mat-sidenav>
            <mat-sidenav-content>
              <mat-toolbar class="tituloHeader">
                <button
                  type="button"
                  aria-label="Toggle sidenav"
                  mat-icon-button
                  (click)="drawer.toggle()"
                  *ngIf="isHandset$ | async">
                  <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
                </button>
                <span>Tânia Gama</span>
              </mat-toolbar>
              <router-outlet></router-outlet>              
            </mat-sidenav-content> 
          </mat-sidenav-container>               
    </header> 
    <app-footer></app-footer> 
  </body>
</html>