<div class="container">
    <mat-dialog-content class="mat-typography">   
        <div class="titulo">
            <mat-card-title >Brigadeiro de Colher</mat-card-title> 
        </div>
        <div class="imagens">     
                <img class="mat-elevation-z15" src="../../../assets/img/brigadeiro/brigadeiroColher.jpeg" >                                    
        </div>  
    </mat-dialog-content>
    <mat-dialog-actions align="center">
        <button color="primary" mat-raised-button mat-dialog-close>Voltar</button>     
      </mat-dialog-actions>
</div>