.container {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    flex-direction: row;
}

img {
    height: 90px;
}

.mat-card-title {
    font-size: 15px;
}