<div class="container">
    <a href="https://www.facebook.com/tania.gama.967"><img src="../../../assets/img/facebook.svg"></a>
    <a href="https://api.whatsapp.com/send?phone=5511953727060"><img src="../../../assets/img/whatsapp.svg"></a>
    <a href="https://www.instagram.com/tania.bolos/"><img src="../../../assets/img/instagram.svg"></a> 
    <a href="https://www.tiktok.com/@taniagamabolos"><img src="../../../assets/img/tiktok.svg"></a>
</div>
<div class="container">
    <mat-card-title>Facebook</mat-card-title>
    <mat-card-title>Whatsapp.</mat-card-title>
    <mat-card-title>Instagram.</mat-card-title>
    <mat-card-title>TikTok...</mat-card-title>
</div>
