<div class="container">
    <mat-dialog-content class="mat-typography">   
        <div class="titulo">
            <mat-card-title >Doces Simples</mat-card-title> 
        </div>
        <div class="imagens">
                <img class="mat-elevation-z15" src="../../../assets/img/docinhoSimples1.jpeg" >
                <img class="mat-elevation-z15" src="../../../assets/img/docinhoSimples2.jpeg" >             
        </div>
        <div class="titulo">
            <mat-card-title >Doces Luxo</mat-card-title> 
        </div>
        <div class="imagens">
            <img class="mat-elevation-z15" src="../../../assets/img/docinhoFinos1.jpeg" >
            <img class="mat-elevation-z15" src="../../../assets/img/docinhoFinos2.jpeg" >                              
        </div>
        <div class="imagens">
            <img class="mat-elevation-z15" src="../../../assets/img/docinhoFinos3.jpeg" >
        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="center">
        <button color="primary" mat-button mat-dialog-close>Voltar</button>     
      </mat-dialog-actions>
</div>




