<div class="container">
    <mat-dialog-content class="mat-typography">   
        <div class="titulo">
            <mat-card-title >Doces de luxo</mat-card-title> 
        </div>
        <div class="imagens">     
            <img class="mat-elevation-z15" src="../../../assets/img/docinhos/docinhoFinos1.jpeg" >                                  
        </div>  
        <div class="imagens">     
            <img class="mat-elevation-z15" src="../../../assets/img/docinhos/docinhoFinos2.jpeg" >                                  
        </div>
        <div class="imagens">     
            <img class="mat-elevation-z15" src="../../../assets/img/docinhos/docinhoFinos3.jpeg" >                                  
        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="center">
        <button color="primary" mat-raised-button mat-dialog-close>Voltar</button>     
      </mat-dialog-actions>
</div>