<div class="container">
    <mat-dialog-content class="mat-typography">   
        <div class="titulo">
            <mat-card-title >Torta de limão</mat-card-title> 
        </div>
        <div class="imagens">     
            <img class="mat-elevation-z15" src="../../../assets/img/tortas/tortaLimao.jpeg" >                                  
        </div>  
        <div class="titulo">
            <mat-card-title >Torta de morango</mat-card-title> 
        </div>
        <div class="imagens">     
            <img class="mat-elevation-z15" src="../../../assets/img/tortas/tortaMorango.jpeg" >                                  
        </div>
        <div class="titulo">
            <mat-card-title >Torta holandesa</mat-card-title> 
        </div>
        <div class="imagens">     
            <img class="mat-elevation-z15" src="../../../assets/img/tortas/tortaHolandesa.jpeg" >                                  
        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="center">
        <button color="primary" mat-raised-button mat-dialog-close>Voltar</button>     
      </mat-dialog-actions>
</div>